* {
  background-color: rgb(142, 182, 233)
} 

.upper-right
{    
    float:right;
    margin:25px 25px 0 0;
}

.pay-bttn {
  color: blue;
  font-size: larger;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

{
  max-height: 100%;
  max-width: 30px;
}

body {
  margin:0px;
  height:100%
}


/* your class for the div should have 100% height and width */
.app-body {
  background-color: rgb(142, 182, 233);
  height: 100%!important;
}

.entire{
  display: "inline-block";
  width: 200vh;
  background-color: rgb(142, 182, 233);
  }


.Navbar-container{
  display: "inline-block";
}

.App-logo {
  line-height: 1.5;
  max-height: 2.5vmin;
  pointer-events: none;
  
}

.App-header {
  background-color: #0c3ea3;
  min-height: 4vh;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin); 
}

#product-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}


.product {
  height: 12rem;
  width: auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#title {
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 rgb(247, 241, 241), 1px -1px 0 rgb(247, 241, 241),
    -1px 1px 0 rgb(247, 241, 241), 1px 1px 0 rgb(247, 241, 241);
}

img {
  height: 100px;
  width: 100px;
}

#header-img {
  height: 175px;
  width: 550px;
}


input[type="text"]:not(.edit-input) {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  padding: 12px 20px;
  margin: 8px 0;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffcb05;
}

label {
  color: rgb(83, 79, 79);
}

#product-form-container {
  margin-top: 25px;
  display: inline;
  justify-content: center;
}



.row {
  margin-left: auto;
}


#product-header {
  display: flex;
  justify-content: center;
  background: #515da2;
  opacity: 0.8;
  height: 7rem;
  padding: 1rem;
}

#product-header img {
  height: 6rem;
  width: auto;
}

#product-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #3b4a9e;
}

.product-photo {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  position: relative;
  background-color: #51c3f0;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}


.buttonContainer {
  text-align: center;
  padding: 1rem;
}


.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #515da2;
  opacity: 0.8;
}

.add-product-form {
  width: 80%;
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}



.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
  background-color : #e7e6fd; 
}


input[type="text"], textarea {

  background-color : #e7e6fd; 

}


